body{
 background-image: url("/img/fon_1.png");   
}

html{
    position: relative;
    min-height: 100%;
  }
body{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.header{
    background-color: #89bff1;
}
.footer{
    background-color: #c4ebf0;
}
h3, p{
    color: rgb(34, 32, 32);
}
#form_selection_help_2{
    height:200px;
}
#table_account_balances{
    border: solid #07131f;
}